.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-1);
}

.link{
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    align-items: center;
    padding: 15px;
    justify-content: center;;
}

.active{
    background-color: var(--primary-color);
    color: #FFF;
}

.title{
    display: flex;
    align-items: center;
}